body, html {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

div {
	font-family: 'Tahoma', sans-serif;
	box-sizing: border-box;
}

.right-col {
	height: 80vh;
}

#console {
	background: #000000;
	color: #3c763d;
	font-family: monospace;
	width: 100%;
	height: 100%;
	overflow: hidden;
}