<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO experimenting</title>

	<link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ static('css/main.css') }}">

	<script src="{{ static('js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ static ('js/bootstrap.min.js') }}"></script>
	<script src="{{ static('js/socket.io.1.3.6.min.js') }}"></script>
	<script src="{{ static('js/main.js') }}"></script>
</head>
<body>
	<main class="container">
		<h1>Socket update Demo</h1>
		<div class="col-md-6">
			<input type="submit" onclick="sendMessage();" value="Press me!"/>

			<ul class="list-group">
				{% for key in keys %}
						<li class="list-group-item d-flex justify-content-between align-items-center">
							{{ key }} <span class="badge badge-primary badge-pill" id="{{ key }}">0</span>
						</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-md-6 right-col">
			<div id="console" class="h-100 d-inline-block"></div>
		</div>
	</main>

</body>

</html>